{% extends 'common.html' %}
{% load static %}

{% block body %}

    {% for index in index %}
<section class="home-slider js-fullheight owl-carousel bg-white">
    <div class="slider-item js-fullheight" style="background: #5E1914;">
        <div class="overlay" style="background: rgba(0,0,0,0.3);"></div>
        <div class="container-fluid p-0">
            <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
                <div class="one-third order-md-last img js-fullheight" style="background-image:url('media/{{ index.background_image1 }}');">
                    <div class="overlay" style="background: rgba(0,0,0,0.2);"></div>
                </div>
                <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text mt-md-5">
                        <h1 class="mb-4" style="color: #fff; font-size: 3rem; font-weight: 600;">{{ index.heading }}</h1>
                        <p style="color: #F8F8F8; font-size: 1.1rem; line-height: 1.7;">{{ index.description }}</p>
                        <div class="thumb mt-4 mb-3 d-flex">
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url({% static 'images/menu-1.jpg' %}); border: 2px solid #C19A6B;"></div>
                                <h4 style="color: #F8F8F8; margin-top: 15px;">{{ index.text1 }}</h4>
                            </a>
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url({% static 'images/menu-2.jpg' %}); border: 2px solid #C19A6B;"></div>
                                <h4 style="color: #F8F8F8; margin-top: 15px;">{{ index.text2 }}</h4>
                            </a>
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url({% static 'images/menu-3.jpg' %}); border: 2px solid #C19A6B;"></div>
                                <h4 style="color: #F8F8F8; margin-top: 15px;">{{ index.text3 }}</h4>
                            </a>
                        </div>
                        <p><a href="{% url 'reservation' %}" class="btn btn-primary px-4 py-3 mt-3" style="background: #C19A6B; border-color: #C19A6B; font-weight: 600; letter-spacing: 1px;">{{ index.btn }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item js-fullheight" style="background: #5E1914;">
        <div class="overlay" style="background: rgba(0,0,0,0.3);"></div>
        <div class="container-fluid p-0">
            <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
                <div class="one-third order-md-last img js-fullheight" style="background-image:url('media/{{ index.background_image }}');">
                    <div class="overlay" style="background: rgba(0,0,0,0.2);"></div>
                </div>
                <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text mt-md-5">
                        <h1 class="mb-4" style="color: #fff; font-size: 3rem; font-weight: 600;">{{ index.heading2 }}</h1>
                        <p style="color: #F8F8F8; font-size: 1.1rem; line-height: 1.7;">{{ index.description2 }}</p>
                        <div class="thumb mt-4 mb-3 d-flex">
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url('media/{{ index.img1 }}'); border: 2px solid #C19A6B;"></div>
                                <h4 style="color: #F8F8F8; margin-top: 15px;">{{ index.text4 }}</h4>
                            </a>
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url('media/{{ index.img2 }}'); border: 2px solid #C19A6B;"></div>
                                <h4 style="color: #F8F8F8; margin-top: 15px;">{{ index.text5 }}</h4>
                            </a>
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url('media/{{ index.img3 }}'); border: 2px solid #C19A6B;"></div>
                                <h4 style="color: #F8F8F8; margin-top: 15px;">{{ index.text6 }}</h4>
                            </a>
                        </div>
                        <p><a href="{% url 'reservation' %}" class="btn btn-primary px-4 py-3 mt-3" style="background: #C19A6B; border-color: #C19A6B; font-weight: 600; letter-spacing: 1px;">{{ index.btn2 }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}

    {% for about in about %}
    <section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt" style="background: #F8F8F8">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-sm-5 img img-2 d-flex align-items-center justify-content-center justify-content-md-end" style="background-image: url({% static 'images/about.jpg' %}); position: relative">
                    <iframe width="853" height="600" src="https://www.youtube.com/embed/lTfEm-V75Uo" title="Twisted State Fair Sandwiches!! New York State Fair Goes Too Far!!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm-7 wrap-about py-5 ftco-animate">
                    <div class="heading-section mt-5 mb-4">
                        <div class="pl-lg-5 ml-md-5">
                            <span class="subheading" style="color: #C19A6B;">{{ about.heading }}</span>
                            <h2 class="mb-4" style="color: #2C2C2C;">{{ about.welcome }}</h2>
                        </div>
                    </div>
                    <div class="pl-lg-5 ml-md-5">
                        <p style="color: #3A3A3A;">{{ about.description }}</p>
                        <h3 class="mt-5" style="color: #5E1914;">{{ about.special }}</h3>
                        <div class="thumb my-4 d-flex">
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url('{{ about.img1.url }}');"></div>
                                <h4 style="color: #2C2C2C;">{{ about.text1 }}</h4>
                            </a>
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url('{{ about.img2.url }}');"></div>
                                <h4 style="color: #2C2C2C;">{{ about.text2 }}</h4>
                            </a>
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url('{{ about.img3.url }}');"></div>
                                <h4 style="color: #2C2C2C;">{{ about.text3 }}</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}

   {% for happy in happy %}
    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url('{{ happy.image.url }}');" data-stellar-background-ratio="0.5">
        <div class="overlay" style="background: rgba(94, 25, 20, 0.7);"></div>
        <div class="container">
            <div class="row d-md-flex align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="row d-md-flex align-items-center">
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="18" style="color: #F8F8F8;">0</strong>
                                    <span style="color: #C19A6B;">{{ happy.text1 }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="20000" style="color: #F8F8F8;">0</strong>
                                    <span style="color: #C19A6B;">{{ happy.text2 }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="564" style="color: #F8F8F8;">0</strong>
                                    <span style="color: #C19A6B;">{{ happy.text3 }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="300" style="color: #F8F8F8;">0</strong>
                                    <span style="color: #C19A6B;">{{ happy.text4 }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}

    <section class="ftco-section" style="background: #F8F8F8">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading" style="color: #C19A6B;">Specialties</span>
                    <h2 class="mb-4" style="color: #2C2C2C;">Our Menu</h2>
                </div>
            </div>

            <div class="row">
                {% for menu in menu %}
                <div class="col-md-6 col-lg-4 menu-wrap">
                    <div class="heading-menu text-center ftco-animate">
                        <h3 style="color: #5E1914;">{{ menu.category }}</h3>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url('media/{{ menu.foodimage }}');"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3 style="color: #2C2C2C;">{{ menu.foodname }}</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price" style="color: #C19A6B;">{{ menu.price }}</span>
                                </div>
                            </div>
                            <p><span style="color: #3A3A3A;">{{ menu.description }}</span></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12 text-center ftco-animate">
                    <p><a href="{% url 'menu' %}" class="btn btn-primary py-3 px-5" style="background: #5E1914; border-color: #5E1914;">View All Menu</a></p>
                </div>
            </div>
        </div>
    </section>

    {% for testimony in testimony %}
<section class="ftco-section testimony-section" style="background-image: url('{{ testimony.background.url }}');" data-stellar-background-ratio="0.5">
    <div class="overlay" style="background: rgba(0,0,0,0.6);"></div>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading" style="color: #C19A6B;">Testimonials</span>
                <h2 class="mb-4" style="color: #fff;">What Our Guests Say</h2>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5" style="background: rgba(255,255,255,0.9); border-radius: 5px;">
                            <div class="user-img mb-4" style="background-image: url('{{ testimony.image1.url }}'); margin: 0 auto; width: 100px; height: 100px; border: 3px solid #C19A6B;">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left" style="color: #C19A6B;"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4" style="color: #3A3A3A;">{{ testimony.text1 }}</p>
                                <p class="name" style="color: #5E1914; font-weight: 600;">{{ testimony.name1 }}</p>
                                <span class="position" style="color: #C19A6B;">{{ testimony.position1 }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5" style="background: rgba(255,255,255,0.9); border-radius: 5px;">
                            <div class="user-img mb-4" style="background-image: url('{{ testimony.image2.url }}'); margin: 0 auto; width: 100px; height: 100px; border: 3px solid #C19A6B;">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left" style="color: #C19A6B;"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4" style="color: #3A3A3A;">{{ testimony.text2 }}</p>
                                <p class="name" style="color: #5E1914; font-weight: 600;">{{ testimony.name2 }}</p>
                                <span class="position" style="color: #C19A6B;">{{ testimony.position2 }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5" style="background: rgba(255,255,255,0.9); border-radius: 5px;">
                            <div class="user-img mb-4" style="background-image: url('{{ testimony.image3.url }}'); margin: 0 auto; width: 100px; height: 100px; border: 3px solid #C19A6B;">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left" style="color: #C19A6B;"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4" style="color: #3A3A3A;">{{ testimony.text3 }}</p>
                                <p class="name" style="color: #5E1914; font-weight: 600;">{{ testimony.name3 }}</p>
                                <span class="position" style="color: #C19A6B;">{{ testimony.position3 }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5" style="background: rgba(255,255,255,0.9); border-radius: 5px;">
                            <div class="user-img mb-4" style="background-image: url('{{ testimony.image4.url }}'); margin: 0 auto; width: 100px; height: 100px; border: 3px solid #C19A6B;">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left" style="color: #C19A6B;"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4" style="color: #3A3A3A;">{{ testimony.text4 }}</p>
                                <p class="name" style="color: #5E1914; font-weight: 600;">{{ testimony.name4 }}</p>
                                <span class="position" style="color: #C19A6B;">{{ testimony.position4 }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5" style="background: rgba(255,255,255,0.9); border-radius: 5px;">
                            <div class="user-img mb-4" style="background-image: url('{{ testimony.image5.url }}'); margin: 0 auto; width: 100px; height: 100px; border: 3px solid #C19A6B;">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left" style="color: #C19A6B;"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4" style="color: #3A3A3A;">{{ testimony.text5 }}</p>
                                <p class="name" style="color: #5E1914; font-weight: 600;">{{ testimony.name5 }}</p>
                                <span class="position" style="color: #C19A6B;">{{ testimony.position5 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}

    <section class="ftco-section" style="background: #F8F8F8">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading" style="color: #C19A6B;">Chef</span>
                    <h2 class="mb-4" style="color: #2C2C2C;">Our Master Chef</h2>
                </div>
            </div>
            <div class="row">
                {% for chef in chefs %}
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img" style="background-image: url('media/{{ chef.image }}');"></div>
                        <div class="text px-4 pt-4">
                            <h3 style="color: #2C2C2C;">{{ chef.name }}</h3>
                            <span class="position mb-2" style="color: #C19A6B;">{{ chef.role}}</span>
                            <div class="faded">
                                <ul class="ftco-social d-flex">
                                    <li class="ftco-animate"><a href="{{ chef.twitter }}" target="_blank"><span class="icon-twitter"></span></a></li>
                                    <li class="ftco-animate"><a href="{{ chef.facebook }}" target="_blank"><span class="icon-facebook"></span></a></li>
                                    <li class="ftco-animate"><a href="{{ chef.instagram }}" target="_blank"><span class="icon-instagram"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}